[submodule "emacs"]
	path = emacs
	url = https://bitbucket.org/tychobrailleur/emacs.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/powerline/powerline
[submodule ".vim/bundle/vim-orgmode"]
	path = .vim/bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode.git
