[user]
	email = sebastien@weblogism.com
	name = Sébastien Le Callonnec
[branch]
	autosetuprebase = always
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	history-view-vpane-position = 418
	main-window-view = HistoryView
	file-view-vpane-position = 731
[core]
	editor = emacs

[alias]
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	lasttag = describe --tags --abbrev=0
	lt = describe --tags --abbrev=0
	restore-file = !git checkout $(git rev-list -n 1 HEAD -- "$1")^ -- "$1"
    st = status
    ci = commit
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
    rms = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
[merge]
	tool = kdiff3
