[include]
    path = .gitconfig.user
[branch]
    autosetuprebase = always
[core]
    editor = emacsclient -n
[alias]
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    lasttag = describe --tags --abbrev=0
    lt = describe --tags --abbrev=0
    st = status
    s = status --porcelain
    restore-file = "!f() { git checkout $(git rev-list -n 1 HEAD -- \"$1\")^ -- \"$1\"}; f"
    ci = commit
    co = checkout
    br = branch
    d = diff
    dc = diff --cached
    info = remote show origin
    undo = reset HEAD^ --soft
    unstage = reset HEAD --
    last = log -1 HEAD
    rms = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
    # git change-commits GIT_AUTHOR_NAME "old name" "new name"
    # git change-commits GIT_AUTHOR_EMAIL "old email" "new email"
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[merge]
    tool = kdiff3
[log]
    decorate = true
[user]
	email = sebastien@weblogism.com
	name = Sébastien Le Callonnec
[transfer]
    fsckObjects = true
[fetch]
    fsckObjects = true
[receive]
    fsckObjects = true
