;; The deps.edn file describes the information needed to build a classpath.
;;
;; When using the `clojure` or `clj` script, there are several deps.edn files
;; that are combined:
;; - install-level
;; - user level (this file)
;; - project level (current directory when invoked)
;;
;; For all attributes other than :paths, these config files are merged left to right.
;; Only the last :paths is kept and others are dropped.

{
 :aliases {:rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts  ["-m" "rebel-readline.main"]}
           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.2.180"}}
                    :ns-default vlaaad.reveal
                    :exec-fn repl}

           ;; clojure -M:repl/rebel-nrepl
           :repl/rebel-nrepl
           {:extra-deps {nrepl/nrepl                {:mvn/version "0.8.3"}
                         cider/cider-nrepl          {:mvn/version "0.25.5"}
                         com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[cider.nrepl/cider-middleware]"
                         "-i"
                         "-f" "rebel-readline.main/-main"]}


           ;; Run a Clojure repl with reveal and nrepl interactively
           ;; - see :inspect/reveal* for more reveal aliases
           ;; clj -M:repl/reveal-nrepl
           :repl/reveal-nrepl
           {:extra-deps {vlaaad/reveal {:mvn/version "1.2.180"}
                         nrepl/nrepl   {:mvn/version "0.8.3"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[vlaaad.reveal.nrepl/middleware]"
                         "-i"]}

           :inspect/reveal-nrepl-cider
           {:extra-deps {vlaaad/reveal                 {:mvn/version "1.2.180"}
                         nrepl/nrepl                   {:mvn/version "0.8.3"}
                         cider/cider-nrepl             {:mvn/version "0.25.5"}
                         refactor-nrepl/refactor-nrepl {:mvn/version "2.5.0"}}
            :main-opts  ["-m" "nrepl.cmdline"
                         "--middleware" "[vlaaad.reveal.nrepl/middleware,refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

           }

 }
